
.flex
    display: flex

code
    font-size: 0.8em
    padding: 0.2em

header
    @extend .flex
    flex-flow: column nowrap

    h1
        flex: 1
    p
        flex: 0
        text-align: center

.astro-form
    width: clamp(50vw, 60vw, 70vw)
    margin: 0 auto

    div
        display: grid
        grid-template-rows: 1fr
        padding-block: calc(1rem/4)

        label
            padding-block: calc(1rem/2)

        input
            font-size: 1rem
            line-height: 150%

    span.buttons>button
            margin-inline-end: calc(1rem/4)

.forecast,
.desc,
.user-info
    @extend .flex

.forecast-day,
.moon-data
    flex: 1

.forecast
    flex-flow: row wrap

.desc
    justify-content: flex-start
    align-items: center
    flex-flow: row nowrap

    h4, h5
        margin-block: calc(1rem/2)

.emoji
    font-size: 3em

.icon
    width: 5rem
    img
        width: 100%
        height: auto

.emoji,
.icon
    padding: 0 1rem

.user-info
    justify-content: flex-start
    gap: 1rem

    div
        padding-block: 1rem

        h5
            margin-block: calc(1rem/2)

    .birthday
        flex: 2

    .location
        flex: 3

.username
    text-transform: capitalize
    margin-block: calc(1rem/2)
