@use './features/AstroViews/astroviews'
@import 'https://fonts.googleapis.com/css2?family=Forum&family=Mulish:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap'
@import-normalize

$font: 'Forum', sans-serif
$bit: 1rem

body
  font:
    family: 'Mulish', sans-serif
    size: 20px

.page-title
  font:
    family: $font
    size: calc($bit * 3)

.subtitle
  font:
    family: $font
    size: calc($bit * 2.5)

.App
  @extend .flex

.App
  flex-flow: column nowrap
  height: 100vh
  width: clamp(40vw, 60vw, 70vw)
  margin: 0 auto

  main.astro-page
    flex: 1

  header,
  footer
    flex: 0
